<div class="comments-page">
  <div class="suggestion-title">
    <span>Comments for Suggestion: </span><br/><%= @suggestion.title %>
  </div>
    
  <% if @suggestion.comments == [] %>
    <p>Be the first to enter a comment</p>
    <%= render :partial => 'form' %>
  <% else %>
    <p>Add your comment</p>
      <%= render :partial => 'form' %>
  <% end %>

  <% unless @comments.length == 0 %>
    <div class="title">
      <strong>Comments</strong>
    </div>
    <div class="comment-list">
      <% @comments.each do |comment| %>
        <div class="comment-bar">
          <div class="clearfix">  
            <div class="comment-body">
              <%= comment.body %>
            </div>
            <div class="author">
              <%= comment.user.name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>




