<div class="comments-page">
  <h1>Comments for Suggestion: <%= @suggestion.title %></h1>
    
  <% if @suggestion.comments == [] %>
    <p>Be the first to enter a comment</p>
    <%= render :partial => 'form' %>
  <% else %>
    <p>Add a comment</p>
      <%= render :partial => 'form' %>
  <% end %>

  <div class="title">
    Comments
  </div>

  <div class="comment-list">
    <% @comments.each do |comment| %>
      <div class="comment-bar">
        <div class="clearfix">  
          
          <div class="comment-body">
            <%= comment.body %>
          </div>
          <div class="author">
            <%= link_to "Call Suggester", new_call_path %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

