<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %> <br /><br />
	<%= f.label :email %>
	<%= f.text_field :email %><br /><br />
	<%= f.label :phone %>
	<%= f.text_field :phone %> 
	<div class="user-submit">
		<%= f.submit("Submit") %>
	</div>
<% end %>