<div class="suggestion-title">
	<h3><%= @suggestion.title %></h3>
</div>

<div class="suggestion-body">
	<%= @suggestion.body %>
</div>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
<%= link_to 'Make comment on this suggestion', new_suggestion_comment_path(@suggestion) %>

<div class="comment-list">
	<% if @suggestion.comments == [] %>
		<p>Be the first to enter a comment</p>
		render ''

		<%= render :partial => '/comments/form' %>
	<% else %>
		<p>Add a comment</p>
			<%= render :partial => '/comments/form' %>
	<% end %>
</div>

