<!DOCTYPE html>
<html>
<head>
  <title>VOX POPVLI</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- js For Twilio call page -->
  <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
  <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  </script>
  <script type="text/javascript">

    Twilio.Device.setup("<%= @token %>", {debug: true});
 
    Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
    });
  
    Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
    });
  
    Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
    });
 
    /* Log a message when a call disconnects. */
    Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
    });
 
    /* Listen for incoming connections */
    Twilio.Device.incoming(function (conn) {
      $("#log").text("Incoming connection from " + conn.parameters.From);
      // accept the incoming connection and start two-way audio
      conn.accept();
    });

   	function call() {
      // get the phone number to connect the call to
      params = {"PhoneNumber": $("#number1").val()};
      Twilio.Device.connect(params);
    }
 
    /* A function to end a connection to Twilio. */
    function hangup() {
        Twilio.Device.disconnectAll();
    }
  </script>
  <!-- end of js for Twilio call page -->
</head>
<body>
	<% unless request.path == "/" || request.path == "/users/new" %>
    <div id="header">
  	  <div class="clearfix">
        <div id="layout-title">
          <%= link_to "VOX POPVLI", suggestions_path %>
        </div>
    		<div id="suggestion-button">
    			<%= link_to "Tell us your suggestion", new_suggestion_path %>
    		</div>
      </div>
  	</div>
  <% end %>
	<div id="container">
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>


